<launch>
  <!-- Arguments -->
  <arg name="model" default="waffle_pi" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="odom" />
  <arg name="move_forward_only" default="false"/>

  <!-- Run the map server -->
  <arg name="map_file" default="$(find erp42_parking_manager)/maps/tw_map_parkinglot.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find erp42_parking_manager)/param/costmap_common_params_$(arg model).yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find erp42_parking_manager)/param/costmap_common_params_$(arg model).yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find erp42_parking_manager)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find erp42_parking_manager)/param/global_costmap_params.yaml" command="load" />
    <!-- <rosparam file="$(find erp42_parking_manager)/param/move_base_params.yaml" command="load" /> -->
    <!-- <rosparam file="$(find erp42_parking_manager)/param/dwa_local_planner_params.yaml" command="load" /> -->
    <rosparam file="$(find erp42_parking_manager)/param/teb_local_planner_params.yaml" command="load" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <!-- <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" /> -->
    <!-- <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" /> -->
  </node>

  <node pkg="cmd_to_twist" type="main" name="main"/>
</launch>
